.centered {
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn {
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid teal;
  cursor: pointer;
}

.btn-success {
  background-color: teal;
}

.btn-success:hover {
  background-color: #11acac;
  border-color: #11acac;
}